Installing Pandas, Boto3, and s3fs libraries

In [2]:
pip install boto3 pandas s3fs

Collecting boto3
  Downloading boto3-1.26.99-py3-none-any.whl (135 kB)
Requirement already satisfied: pandas in c:\users\rsara\anaconda3\lib\site-packages (1.1.3)
Collecting s3fs
  Downloading s3fs-2023.3.0-py3-none-any.whl (27 kB)
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.30.0,>=1.29.99
  Downloading botocore-1.29.99-py3-none-any.whl (10.5 MB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\rsara\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\rsara\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rsara\anaconda3\lib\site-packages (from pandas) (2.8.1)
Collecting aiohttp!=4.0.0a0,!=4.0.0a1
  Downloading aiohttp-3.8.4-cp38-cp38-win_amd64.whl (324 kB)
Collecting aiobotocore~=2.4.2
  Downloading aiobotocore-2.4.2-py3-none-any.whl (66 kB)
Collecting fsspec==2023.3.0
  Downloading fsspec-2023.3.0-py3-none-any.whl (145 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\rsara\anaconda3\lib\site-packages (from botocore<1.30.0,>=1.29.99->boto3) (1.25.11)
Requirement already satisfied: six>=1.5 in c:\users\rsara\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting charset-normalizer<4.0,>=2.0
  Downloading charset_normalizer-3.1.0-cp38-cp38-win_amd64.whl (96 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp38-cp38-win_amd64.whl (56 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp38-cp38-win_amd64.whl (28 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\rsara\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (20.3.0)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp38-cp38-win_amd64.whl (34 kB)
Requirement already satisfied: wrapt>=1.10.10 in c:\users\rsara\anaconda3\lib\site-packages (from aiobotocore~=2.4.2->s3fs) (1.11.2)
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Requirement already satisfied: idna>=2.0 in c:\users\rsara\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.10)
Collecting typing_extensions>=4.0; python_version < "3.10"
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Installing collected packages: jmespath, botocore, s3transfer, boto3, async-timeout, charset-normalizer, frozenlist, aiosignal, multidict, yarl, aiohttp, typing-extensions, aioitertools, aiobotocore, fsspec, s3fs
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.3
    Uninstalling typing-extensions-3.7.4.3:
      Successfully uninstalled typing-extensions-3.7.4.3
  Attempting uninstall: fsspec
    Found existing installation: fsspec 0.8.3
    Uninstalling fsspec-0.8.3:
      Successfully uninstalled fsspec-0.8.3
Successfully installed aiobotocore-2.4.2 aiohttp-3.8.4 aioitertools-0.11.0 aiosignal-1.3.1 async-timeout-4.0.2 boto3-1.26.99 botocore-1.29.99 charset-normalizer-3.1.0 frozenlist-1.3.3 fsspec-2023.3.0 jmespath-1.0.1 multidict-6.0.4 s3fs-2023.3.0 s3transfer-0.6.0 typing-extensions-4.5.0 yarl-1.8.2
Note: you may need to restart the kernel to use updated packages.

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

aiobotocore 2.4.2 requires botocore<1.27.60,>=1.27.59, but you'll have botocore 1.29.99 which is incompatible.

# Using Pandas

Demo script for reading a CSV file from S3 into a pandas data frame using the boto3 library

In [ ]:
import os

import boto3
import pandas as pd


AWS_S3_BUCKET = os.getenv("AWS_S3_BUCKET")
# AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
# AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")
# AWS_SESSION_TOKEN = os.getenv("AWS_SESSION_TOKEN")

s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    aws_session_token=AWS_SESSION_TOKEN,
)

response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key="files/books.csv")

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

if status == 200:
    print(f"Successful S3 get_object response. Status - {status}")
    books_df = pd.read_csv(response.get("Body"))
    print(books_df)
else:
    print(f"Unsuccessful S3 get_object response. Status - {status}")

Q1. Write a Python script to download and unzip .csv files for any 2 years from the following S3 Bucket
https://s3.amazonaws.com/tripdata/index.html

Downloading and unzipping the files of year 2016 from the S3 bucket

In [3]:
# Importing os, urllib, and zipfile libraries
import os
import urllib.request
import zipfile

# Specifying the year I want to download csv for
year = "2016"
month_names = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

# Specifying the S3 bucket url
s3_url = "https://s3.amazonaws.com/tripdata/"

# Create a directory to store the downloaded files
if not os.path.exists("BikeData"):
    os.makedirs("BikeData")

# Loop through the list of file names and download them to the data directory
for month in month_names:
    file_name = f"JC-{year}{month}-citibike-tripdata.csv.zip"
    url = s3_url + file_name
    save_path = os.path.join("BikeData", file_name)
    urllib.request.urlretrieve(url, save_path)
    print(f"{file_name} downloaded")

    # extract the contents of the zip file
    with zipfile.ZipFile(save_path, "r") as zip_ref:
        zip_ref.extractall("BikeData")
    print(f"{file_name} unzipped")

print("All files downloaded and unzipped successfully")

JC-201601-citibike-tripdata.csv.zip downloaded
JC-201601-citibike-tripdata.csv.zip unzipped
JC-201602-citibike-tripdata.csv.zip downloaded
JC-201602-citibike-tripdata.csv.zip unzipped
JC-201603-citibike-tripdata.csv.zip downloaded
JC-201603-citibike-tripdata.csv.zip unzipped
JC-201604-citibike-tripdata.csv.zip downloaded
JC-201604-citibike-tripdata.csv.zip unzipped
JC-201605-citibike-tripdata.csv.zip downloaded
JC-201605-citibike-tripdata.csv.zip unzipped
JC-201606-citibike-tripdata.csv.zip downloaded
JC-201606-citibike-tripdata.csv.zip unzipped
JC-201607-citibike-tripdata.csv.zip downloaded
JC-201607-citibike-tripdata.csv.zip unzipped
JC-201608-citibike-tripdata.csv.zip downloaded
JC-201608-citibike-tripdata.csv.zip unzipped
JC-201609-citibike-tripdata.csv.zip downloaded
JC-201609-citibike-tripdata.csv.zip unzipped
JC-201610-citibike-tripdata.csv.zip downloaded
JC-201610-citibike-tripdata.csv.zip unzipped
JC-201611-citibike-tripdata.csv.zip downloaded
JC-201611-citibike-tripdata.csv.zip unzipped
JC-201612-citibike-tripdata.csv.zip downloaded
JC-201612-citibike-tripdata.csv.zip unzipped
All files downloaded and unzipped successfully

Importing Pandas Library

In [1]:
import pandas as pd

Demo script for concatenating 12 csv files into one csv file

In [ ]:
import pandas as pd

# specify the file paths for the 12 CSV files
file_paths = ["file1.csv", "file2.csv", "file3.csv", "file4.csv",
              "file5.csv", "file6.csv", "file7.csv", "file8.csv",
              "file9.csv", "file10.csv", "file11.csv", "file12.csv"]

# create an empty list to hold the dataframes
dfs = []

# loop through the file paths and read each CSV file into a dataframe
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)

# concatenate the dataframes into one
merged_df = pd.concat(dfs, ignore_index=True)

# write the merged dataframe to a new CSV file
merged_df.to_csv("merged_file.csv", index=False)

Downloading, unzipping, and concatenating files in one go

In [11]:
# Importing os, urllib, and zipfile libraries
import os
import urllib.request
import zipfile

# Specifying the year I want to download csv for
year1 = "2018"
year2 = "2019"
month_names = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
dfs = []

# Specifying the S3 bucket url
s3_url = "https://s3.amazonaws.com/tripdata/"

# Create a directory to store the downloaded files
if not os.path.exists("BikeData1"):
    os.makedirs("BikeData1")

# Loop through the list of file names and download them to the data directory
for month in month_names:
    file_name = f"JC-{year1}{month}-citibike-tripdata.csv.zip"
    url = s3_url + file_name
    save_path = os.path.join("BikeData1", file_name)
    urllib.request.urlretrieve(url, save_path)
    print(f"{file_name} downloaded")

    # extract the contents of the zip file
    with zipfile.ZipFile(save_path, "r") as zip_ref:
        zip_ref.extractall("BikeData1")
    print(f"{file_name} unzipped")

    df = pd.read_csv(save_path)
    dfs.append(df)
 

for month in month_names:
    file_name = f"JC-{year2}{month}-citibike-tripdata.csv.zip"
    url = s3_url + file_name
    save_path = os.path.join("BikeData1", file_name)
    urllib.request.urlretrieve(url, save_path)
    print(f"{file_name} downloaded")

    # extract the contents of the zip file
    with zipfile.ZipFile(save_path, "r") as zip_ref:
        zip_ref.extractall("BikeData1")
    print(f"{file_name} unzipped")

    df = pd.read_csv(save_path)
    dfs.append(df)

print("All files downloaded and unzipped successfully")

# concatenate the dataframes into one
merged_df = pd.concat(dfs, ignore_index=True)

# write the merged dataframe to a new CSV file
merged_df.to_csv("merged_file.csv", index=False)

print("All csv files have been merged into one")

JC-201801-citibike-tripdata.csv.zip downloaded
JC-201801-citibike-tripdata.csv.zip unzipped
JC-201802-citibike-tripdata.csv.zip downloaded
JC-201802-citibike-tripdata.csv.zip unzipped
JC-201803-citibike-tripdata.csv.zip downloaded
JC-201803-citibike-tripdata.csv.zip unzipped
JC-201804-citibike-tripdata.csv.zip downloaded
JC-201804-citibike-tripdata.csv.zip unzipped
JC-201805-citibike-tripdata.csv.zip downloaded
JC-201805-citibike-tripdata.csv.zip unzipped
JC-201806-citibike-tripdata.csv.zip downloaded
JC-201806-citibike-tripdata.csv.zip unzipped
JC-201807-citibike-tripdata.csv.zip downloaded
JC-201807-citibike-tripdata.csv.zip unzipped
JC-201808-citibike-tripdata.csv.zip downloaded
JC-201808-citibike-tripdata.csv.zip unzipped
JC-201809-citibike-tripdata.csv.zip downloaded
JC-201809-citibike-tripdata.csv.zip unzipped
JC-201810-citibike-tripdata.csv.zip downloaded
JC-201810-citibike-tripdata.csv.zip unzipped
JC-201811-citibike-tripdata.csv.zip downloaded
JC-201811-citibike-tripdata.csv.zip unzipped
JC-201812-citibike-tripdata.csv.zip downloaded
JC-201812-citibike-tripdata.csv.zip unzipped
JC-201901-citibike-tripdata.csv.zip downloaded
JC-201901-citibike-tripdata.csv.zip unzipped
JC-201902-citibike-tripdata.csv.zip downloaded
JC-201902-citibike-tripdata.csv.zip unzipped
JC-201903-citibike-tripdata.csv.zip downloaded
JC-201903-citibike-tripdata.csv.zip unzipped
JC-201904-citibike-tripdata.csv.zip downloaded
JC-201904-citibike-tripdata.csv.zip unzipped
JC-201905-citibike-tripdata.csv.zip downloaded
JC-201905-citibike-tripdata.csv.zip unzipped
JC-201906-citibike-tripdata.csv.zip downloaded
JC-201906-citibike-tripdata.csv.zip unzipped
JC-201907-citibike-tripdata.csv.zip downloaded
JC-201907-citibike-tripdata.csv.zip unzipped
JC-201908-citibike-tripdata.csv.zip downloaded
JC-201908-citibike-tripdata.csv.zip unzipped
JC-201909-citibike-tripdata.csv.zip downloaded
JC-201909-citibike-tripdata.csv.zip unzipped
JC-201910-citibike-tripdata.csv.zip downloaded
JC-201910-citibike-tripdata.csv.zip unzipped
JC-201911-citibike-tripdata.csv.zip downloaded
JC-201911-citibike-tripdata.csv.zip unzipped
JC-201912-citibike-tripdata.csv.zip downloaded
JC-201912-citibike-tripdata.csv.zip unzipped
All files downloaded and unzipped successfully
All csv files have been merged into one

In [12]:
dfs

[       tripduration                 starttime                  stoptime  \
 0               932  2018-01-01 02:06:17.5410  2018-01-01 02:21:50.0270
 1               550  2018-01-01 12:06:18.0390  2018-01-01 12:15:28.4430
 2               510  2018-01-01 12:06:56.9780  2018-01-01 12:15:27.8100
 3               354  2018-01-01 14:53:10.1860  2018-01-01 14:59:05.0960
 4               250  2018-01-01 17:34:30.1920  2018-01-01 17:38:40.9840
 ...             ...                       ...                       ...
 12672           247  2018-01-31 11:03:59.1750  2018-01-31 11:08:07.0570
 12673           806  2018-01-31 15:34:36.8370  2018-01-31 15:48:03.0280
 12674          1499  2018-01-31 15:45:09.8000  2018-01-31 16:10:09.4400
 12675           291  2018-01-31 16:54:11.9480  2018-01-31 16:59:03.5760
 12676           383  2018-01-31 18:34:50.2950  2018-01-31 18:41:13.7530

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...
 12672              3640     Journal Square               40.733670
 12673              3640     Journal Square               40.733670
 12674              3640     Journal Square               40.733670
 12675              3640     Journal Square               40.733670
 12676              3640     Journal Square               40.733670

        start station longitude  end station id end station name  \
 0                   -74.033459            3199     Newport Pkwy
 1                   -74.033459            3199     Newport Pkwy
 2                   -74.033459            3199     Newport Pkwy
 3                   -74.033459            3267     Morris Canal
 4                   -74.033459            3639       Harborside
 ...                        ...             ...              ...
 12672               -74.062500            3201           Dey St
 12673               -74.062500            3211       Newark Ave
 12674               -74.062500            3640   Journal Square
 12675               -74.062500            3201           Dey St
 12676               -74.062500            3194  McGinley Square

        end station latitude  end station longitude  bikeid    usertype  \
 0                 40.728745             -74.032108   31929  Subscriber
 1                 40.728745             -74.032108   31845  Subscriber
 2                 40.728745             -74.032108   31708  Subscriber
 3                 40.712419             -74.038526   31697  Subscriber
 4                 40.719252             -74.034234   31861  Subscriber
 ...                     ...                    ...     ...         ...
 12672             40.737711             -74.066921   31828  Subscriber
 12673             40.721525             -74.046305   31842  Subscriber
 12674             40.733670             -74.062500   29622  Subscriber
 12675             40.737711             -74.066921   29622  Subscriber
 12676             40.725340             -74.067622   31690  Subscriber

        birth year  gender
 0            1992       1
 1            1969       2
 2            1946       1
 3            1994       1
 4            1991       1
 ...           ...     ...
 12672        1962       1
 12673        1987       1
 12674        1981       1
 12675        1963       1
 12676        1989       1

 [12677 rows x 15 columns],
        tripduration                 starttime                  stoptime  \
 0               134  2018-02-01 07:38:15.8650  2018-02-01 07:40:30.5820
 1               413  2018-02-01 08:19:35.8160  2018-02-01 08:26:29.6490
 2                77  2018-02-01 08:31:03.0860  2018-02-01 08:32:20.3510
 3               404  2018-02-01 15:23:15.0850  2018-02-01 15:29:59.9300
 4               230  2018-02-01 15:26:01.8240  2018-02-01 15:29:52.5440
 ...             ...                       ...                       ...
 15099           659  2018-02-28 18:29:12.6180  2018-02-28 18:40:12.4280
 15100           277  2018-02-28 18:32:01.6690  2018-02-28 18:36:39.6610
 15101           480  2018-02-28 18:33:03.8790  2018-02-28 18:41:04.0600
 15102           239  2018-02-28 20:32:45.8150  2018-02-28 20:36:45.5760
 15103           522  2018-02-28 21:15:55.0930  2018-02-28 21:24:37.8150

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...
 15099              3640     Journal Square               40.733670
 15100              3640     Journal Square               40.733670
 15101              3640     Journal Square               40.733670
 15102              3640     Journal Square               40.733670
 15103              3640     Journal Square               40.733670

        start station longitude  end station id end station name  \
 0                   -74.033459            3184      Paulus Hook
 1                   -74.033459            3267     Morris Canal
 2                   -74.033459            3184      Paulus Hook
 3                   -74.033459            3267     Morris Canal
 4                   -74.033459            3213   Van Vorst Park
 ...                        ...             ...              ...
 15099               -74.062500            3210   Pershing Field
 15100               -74.062500            3207      Oakland Ave
 15101               -74.062500            3207      Oakland Ave
 15102               -74.062500            3207      Oakland Ave
 15103               -74.062500            3207      Oakland Ave

        end station latitude  end station longitude  bikeid    usertype  \
 0                 40.714145             -74.033552   29615  Subscriber
 1                 40.712419             -74.038526   29641  Subscriber
 2                 40.714145             -74.033552   29621  Subscriber
 3                 40.712419             -74.038526   31934  Subscriber
 4                 40.718489             -74.047727   29642  Subscriber
 ...                     ...                    ...     ...         ...
 15099             40.742677             -74.051789   26229  Subscriber
 15100             40.737604             -74.052478   29586  Subscriber
 15101             40.737604             -74.052478   31700  Subscriber
 15102             40.737604             -74.052478   26155  Subscriber
 15103             40.737604             -74.052478   31689  Subscriber

        birth year  gender
 0            1966       1
 1            1986       2
 2            1975       1
 3            1980       1
 4            1986       1
 ...           ...     ...
 15099        1985       2
 15100        1980       1
 15101        1985       1
 15102        1989       1
 15103        1979       1

 [15104 rows x 15 columns],
        tripduration                 starttime                  stoptime  \
 0               329  2018-03-01 06:37:37.0380  2018-03-01 06:43:06.5520
 1               118  2018-03-01 07:37:30.1210  2018-03-01 07:39:28.3910
 2                76  2018-03-01 08:26:17.9390  2018-03-01 08:27:34.6770
 3               578  2018-03-01 12:10:36.2160  2018-03-01 12:20:14.8690
 4               485  2018-03-01 12:21:47.8800  2018-03-01 12:29:53.2990
 ...             ...                       ...                       ...
 17104           239  2018-03-30 21:24:17.9440  2018-03-30 21:28:17.7570
 17105           364  2018-03-31 00:45:26.4970  2018-03-31 00:51:31.4750
 17106           336  2018-03-31 07:38:32.7490  2018-03-31 07:44:09.0950
 17107           194  2018-03-31 12:08:09.5080  2018-03-31 12:11:23.7180
 17108           290  2018-03-31 19:54:45.0990  2018-03-31 19:59:35.3650

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...
 17104              3640     Journal Square               40.733670
 17105              3640     Journal Square               40.733670
 17106              3640     Journal Square               40.733670
 17107              3640     Journal Square               40.733670
 17108              3640     Journal Square               40.733670

        start station longitude  end station id end station name  \
 0                   -74.033459            3202     Newport PATH
 1                   -74.033459            3184      Paulus Hook
 2                   -74.033459            3184      Paulus Hook
 3                   -74.033459            3185        City Hall
 4                   -74.033459            3187        Warren St
 ...                        ...             ...              ...
 17104               -74.062500            3194  McGinley Square
 17105               -74.062500            3212  Christ Hospital
 17106               -74.062500            3207      Oakland Ave
 17107               -74.062500            3201           Dey St
 17108               -74.062500            3207      Oakland Ave

        end station latitude  end station longitude  bikeid    usertype  \
 0                 40.727224             -74.033759   29284  Subscriber
 1                 40.714145             -74.033552   29465  Subscriber
 2                 40.714145             -74.033552   29681  Subscriber
 3                 40.717733             -74.043845   31695  Subscriber
 4                 40.721124             -74.038051   31802  Subscriber
 ...                     ...                    ...     ...         ...
 17104             40.725340             -74.067622   29616  Subscriber
 17105             40.734786             -74.050444   26228  Subscriber
 17106             40.737604             -74.052478   31954  Subscriber
 17107             40.737711             -74.066921   29491  Subscriber
 17108             40.737604             -74.052478   31681  Subscriber

        birth year  gender
 0            1981       1
 1            1966       1
 2            1975       1
 3            1970       1
 4            1979       1
 ...           ...     ...
 17104        1990       1
 17105        1986       2
 17106        1971       1
 17107        1963       1
 17108        1989       1

 [17109 rows x 15 columns],
        tripduration                 starttime                  stoptime  \
 0              1814  2018-04-01 09:43:51.1590  2018-04-01 10:14:06.1300
 1               298  2018-04-01 11:42:53.7090  2018-04-01 11:47:51.8770
 2              1060  2018-04-01 12:43:11.9640  2018-04-01 13:00:52.8700
 3              1035  2018-04-01 12:43:40.5890  2018-04-01 13:00:55.6620
 4               559  2018-04-01 12:56:47.4600  2018-04-01 13:06:06.7710
 ...             ...                       ...                       ...
 23629           350  2018-04-30 12:34:25.4670  2018-04-30 12:40:16.0780
 23630           571  2018-04-30 15:15:33.5140  2018-04-30 15:25:05.0550
 23631           195  2018-04-30 18:29:09.0680  2018-04-30 18:32:24.1090
 23632           106  2018-04-30 18:53:02.3630  2018-04-30 18:54:48.4980
 23633           746  2018-04-30 19:02:56.9550  2018-04-30 19:15:23.3070

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...
 23629              3681           Grand St               40.715178
 23630              3681           Grand St               40.715178
 23631              3681           Grand St               40.715178
 23632              3681           Grand St               40.715178
 23633              3681           Grand St               40.715178

        start station longitude  end station id    end station name  \
 0                   -74.033459            3638       Washington St
 1                   -74.033459            3187           Warren St
 2                   -74.033459            3192  Liberty Light Rail
 3                   -74.033459            3192  Liberty Light Rail
 4                   -74.033459            3199        Newport Pkwy
 ...                        ...             ...                 ...
 23629               -74.037683            3273        Manila & 1st
 23630               -74.037683            3278    Monmouth and 6th
 23631               -74.037683            3639          Harborside
 23632               -74.037683            3275      Columbus Drive
 23633               -74.037683            3681            Grand St

        end station latitude  end station longitude  bikeid    usertype  \
 0                 40.724294             -74.035483   26175  Subscriber
 1                 40.721124             -74.038051   31847  Subscriber
 2                 40.711242             -74.055701   33463  Subscriber
 3                 40.711242             -74.055701   31738  Subscriber
 4                 40.728745             -74.032108   31925  Subscriber
 ...                     ...                    ...     ...         ...
 23629             40.721651             -74.042884   26298  Subscriber
 23630             40.725685             -74.048790   29478    Customer
 23631             40.719252             -74.034234   29245  Subscriber
 23632             40.718355             -74.038914   33660  Subscriber
 23633             40.715178             -74.037683   29600  Subscriber

        birth year  gender
 0            1978       1
 1            1979       1
 2            1972       1
 3            1983       1
 4            1989       1
 ...           ...     ...
 23629        1969       0
 23630        1992       1
 23631        1983       1
 23632        1992       2
 23633        1964       1

 [23634 rows x 15 columns],
        tripduration                 starttime                  stoptime  \
 0               131  2018-05-01 07:29:57.5490  2018-05-01 07:32:08.6160
 1                73  2018-05-01 08:13:58.2560  2018-05-01 08:15:11.9230
 2              4929  2018-05-01 08:17:21.3110  2018-05-01 09:39:31.0770
 3               432  2018-05-01 08:25:58.7150  2018-05-01 08:33:10.8960
 4               432  2018-05-01 08:28:09.9160  2018-05-01 08:35:22.1440
 ...             ...                       ...                       ...
 34451           100  2018-05-31 13:54:36.2390  2018-05-31 13:56:16.3620
 34452           208  2018-05-31 14:17:43.8260  2018-05-31 14:21:12.3380
 34453           177  2018-05-31 19:21:39.8040  2018-05-31 19:24:36.9140
 34454           718  2018-05-31 19:58:18.5280  2018-05-31 20:10:17.3480
 34455           162  2018-05-31 20:08:31.4010  2018-05-31 20:11:13.8030

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...
 34451              3681           Grand St               40.715178
 34452              3681           Grand St               40.715178
 34453              3681           Grand St               40.715178
 34454              3681           Grand St               40.715178
 34455              3681           Grand St               40.715178

        start station longitude  end station id   end station name  \
 0                   -74.033459            3184        Paulus Hook
 1                   -74.033459            3184        Paulus Hook
 2                   -74.033459            3183     Exchange Place
 3                   -74.033459            3202       Newport PATH
 4                   -74.033459            3638      Washington St
 ...                        ...             ...                ...
 34451               -74.037683            3267       Morris Canal
 34452               -74.037683            3205  JC Medical Center
 34453               -74.037683            3276   Marin Light Rail
 34454               -74.037683            3279        Dixon Mills
 34455               -74.037683            3185          City Hall

        end station latitude  end station longitude  bikeid    usertype  \
 0                 40.714145             -74.033552   29617  Subscriber
 1                 40.714145             -74.033552   29288  Subscriber
 2                 40.716247             -74.033459   29520    Customer
 3                 40.727224             -74.033759   29595  Subscriber
 4                 40.724294             -74.035483   33623  Subscriber
 ...                     ...                    ...     ...         ...
 34451             40.712419             -74.038526   29241  Subscriber
 34452             40.716540             -74.049638   33563  Subscriber
 34453             40.714584             -74.042817   29576  Subscriber
 34454             40.721630             -74.049968   29485  Subscriber
 34455             40.717733             -74.043845   33626  Subscriber

        birth year  gender
 0            1966       1
 1            1975       1
 2            1969       0
 3            1973       1
 4            1959       1
 ...           ...     ...
 34451        1974       1
 34452        1975       1
 34453        1988       1
 34454        1971       1
 34455        1962       1

 [34456 rows x 15 columns],
        tripduration                 starttime                  stoptime  \
 0               329  2018-06-01 07:07:00.2990  2018-06-01 07:12:30.2220
 1               259  2018-06-01 08:24:43.8490  2018-06-01 08:29:03.8450
 2               686  2018-06-01 09:17:49.5730  2018-06-01 09:29:16.1770
 3               164  2018-06-01 09:44:00.4020  2018-06-01 09:46:44.6830
 4               769  2018-06-01 09:59:28.7800  2018-06-01 10:12:18.6660
 ...             ...                       ...                       ...
 40932          1227  2018-06-30 20:46:55.7500  2018-06-30 21:07:22.9730
 40933          1219  2018-06-30 20:47:02.7610  2018-06-30 21:07:22.1720
 40934          1227  2018-06-30 20:47:03.1250  2018-06-30 21:07:30.3560
 40935           252  2018-06-30 21:13:35.6890  2018-06-30 21:17:48.5690
 40936           652  2018-06-30 22:03:44.8150  2018-06-30 22:14:37.5310

        start station id start station name  start station latitude  \
 0                  3183     Exchange Place               40.716247
 1                  3183     Exchange Place               40.716247
 2                  3183     Exchange Place               40.716247
 3                  3183     Exchange Place               40.716247
 4                  3183     Exchange Place               40.716247
 ...                 ...                ...                     ...

In [14]:
merged_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [3]:
data = pd.read_csv (r'merged_file.csv')   
bd_1 = pd.DataFrame(data)

In [17]:
bd_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758834,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
758835,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
758836,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1
758837,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
758838,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

Checking the number of entries

In [4]:
len(bd_1)

758839

Checking for the number of duplicates in the database

In [18]:
print(bd_1.duplicated().sum())

0

Checking for the null values in the database

In [19]:
print(bd_1.isnull().sum())

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

Correcting the datetime datatype for the 'starttime' and 'stoptime' columns

In [22]:
bd_1['starttime'] = pd.to_datetime(bd_1['starttime'], format='%Y-%m-%d %H:%M:%S.%f')

In [23]:
bd_1['stoptime'] = pd.to_datetime(bd_1['stoptime'], format='%Y-%m-%d %H:%M:%S.%f')

In [24]:
bd_1.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

IMPORTANT INFO: User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
Gender (Zero=unknown; 1=male; 2=female)

a. Which is the most popular station?

In [40]:
grouped_df = bd_1.groupby('start station name').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['start station name', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
most_pop_stn = grouped_df.iloc[0]['start station name']
print("Most popular station in 2018-2019 is {}".format(most_pop_stn))

Most popular station in 2018-2019 is Grove St PATH

In [67]:
grouped_df = bd_1.groupby('start station name').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['start station name', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
grouped_df

      start station name  No_of_trips
23         Grove St PATH        87593
24         Hamilton Park        44973
54               Sip Ave        37269
48          Newport PATH        32617
25            Harborside        29982
..                   ...          ...
59  West Side Light Rail           42
3           Bayside Park           34
5         Bethune Center           24
14   Danforth Light Rail           19
10         Columbia Park           14

[61 rows x 2 columns]

c. What is the average trip duration?

In [39]:
avg_duration = bd_1['tripduration'].mean()
print("The average trip duration of the bike rides in 2018-2019 is:", avg_duration, "sec")

The average trip duration of the bike rides in 2018-2019 is: 701.3822905781068 sec

b. What is the average distance that bikers ride?

In [121]:
from math import radians, sin, cos, sqrt, asin

# define a function to calculate distance using Haversine formula
def haversine(lat1, lon1, lat2, lon2):
    R = 6372.8 # Earth radius in kilometers
    
    # convert to radians
    d_lat = radians(lat2 - lat1)
    d_lon = radians(lon2 - lon1)
    lat1 = radians(lat1)
    lat2 = radians(lat2)

    # apply Haversine formula
    a = sin(d_lat/2)**2 + cos(lat1)*cos(lat2)*sin(d_lon/2)**2
    c = 2*asin(sqrt(a))
    
    # calculate distance
    distance = R * c
    return distance

In [126]:

# calculate distance between coordinates using haversine function
bd_1['distance_km'] = bd_1.apply(lambda row: haversine(row['start station latitude'], row['start station longitude'], row['end station latitude'], row['end station longitude']), axis=1)
bd_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week,month,user_age,distance,distance_km
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,Monday,1,26,1.394750,1.394750
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,Monday,1,49,1.394750,1.394750
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,Monday,1,72,1.394750,1.394750
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,Monday,1,24,0.603120,0.603120
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,Monday,1,27,0.340542,0.340542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758834,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,Tuesday,12,29,1.166516,1.166516
758835,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,Tuesday,12,30,0.645725,0.645725
758836,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1,Tuesday,12,35,0.918374,0.918374
758837,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,Tuesday,12,32,0.749798,0.749798
758838,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,Tuesday,12,31,1.432734,1.432734

In [128]:
# calculate average distance
avg_distance = bd_1['distance_km'].mean()
print(avg_distance, 'km')

0.9795540138414373 km

d. How many riders start and end their trip at the same station?

In [43]:
result_df = bd_1.loc[bd_1['start station id'] == bd_1['end station id']]
how_many = len(result_df)
print("The number of riders in 2018-2019 who start and end their trip at the same station are:", how_many)

The number of riders in 2018-2019 who start and end their trip at the same station are: 31156

In [45]:
result_df = bd_1.loc[bd_1['start station id'] == bd_1['end station id']]
result_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
34,520,2018-01-03 13:06:21.286,2018-01-03 13:15:01.597,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26288,Subscriber,1965,2
40,5045,2018-01-03 16:26:50.169,2018-01-03 17:50:55.973,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29598,Customer,1969,0
79,441,2018-01-07 10:10:41.362,2018-01-07 10:18:03.077,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29672,Customer,1969,0
132,1128,2018-01-10 14:40:17.496,2018-01-10 14:59:05.715,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,33372,Subscriber,1978,1
493,80,2018-01-23 19:11:40.994,2018-01-23 19:13:01.641,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,33463,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758690,410,2019-12-31 17:09:23.137,2019-12-31 17:16:13.543,3270,Jersey & 6th St,40.725289,-74.045572,3270,Jersey & 6th St,40.725289,-74.045572,29480,Subscriber,1996,2
758741,474,2019-12-31 18:22:41.902,2019-12-31 18:30:36.627,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,29287,Subscriber,1989,1
758760,2692,2019-12-31 19:01:40.124,2019-12-31 19:46:32.931,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26283,Customer,1994,1
758800,1005,2019-12-31 20:21:43.765,2019-12-31 20:38:29.358,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,29499,Subscriber,1956,1
758806,577,2019-12-31 20:38:33.292,2019-12-31 20:48:10.870,3202,Newport PATH,40.727224,-74.033759,3202,Newport PATH,40.727224,-74.033759,29510,Subscriber,1993,1

e. What is the distribution of Customers to Subscribers?

In [63]:
grouped_df = bd_1.groupby('usertype').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['usertype', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
grouped_df

     usertype  No_of_trips
1  Subscriber       693646
0    Customer        65193

In [64]:
grouped_df = bd_1.groupby('usertype').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['usertype', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
Subscriber = grouped_df.iloc[0]['No_of_trips']
Customer = grouped_df.iloc[1]['No_of_trips']
print("The subscribers using the bikes are {}".format(Subscriber),"while the customers using the bikes are {}.".format(Customer))

The subscribers using the bikes are 693646 while the customers using the bikes are 65193.

f. What is the distribution of men and women?

In [65]:
grouped_df = bd_1.groupby('gender').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['gender', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
grouped_df

   gender  No_of_trips
1       1       543537
2       2       167484
0       0        47818

In [66]:
male = grouped_df.iloc[0]['No_of_trips']
female = grouped_df.iloc[1]['No_of_trips']
print("The males using the bikes are {}".format(male),"while the females using the bikes are {}.".format(female))

The males using the bikes are 543537 while the females using the bikes are 167484.

In [61]:
grouped_df = bd_1.groupby('gender').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['gender', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
new_column = 'gender_string'
def gender_string(row):
    if row['gender'] == 1:
        return 'male'
    elif row['gender'] == 2:
        return 'female'
    else:
        return 'unknown'
grouped_df['gender_string'] = grouped_df.apply(lambda row: gender_string(row), axis=1)
grouped_df

   gender  No_of_trips gender_string
1       1       543537          male
2       2       167484        female
0       0        47818       unknown

g. What days of the week are most rides taken on?

In [59]:
bd_1['day_of_week'] = bd_1['starttime'].apply(lambda x: x.strftime('%A'))
bd_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,Monday
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,Monday
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,Monday
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,Monday
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758834,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,Tuesday
758835,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,Tuesday
758836,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1,Tuesday
758837,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,Tuesday
758838,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,Tuesday

In [60]:
grouped_df = bd_1.groupby('day_of_week').agg({
    'start station id': 'count',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['day_of_week', 'No_of_trips']
grouped_df = grouped_df.sort_values('No_of_trips', ascending = False)
grouped_df

  day_of_week  No_of_trips
5     Tuesday       122501
6   Wednesday       121996
4    Thursday       116837
0      Friday       116673
1      Monday       113861
2    Saturday        89399
3      Sunday        77572

h. Get top 10 bikeid by duration for each month in the first quarter of 2019

In [68]:
bd_1['month'] = bd_1['starttime'].dt.month
bd_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week,month
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,Monday,1
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,Monday,1
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,Monday,1
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,Monday,1
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,Monday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758834,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,Tuesday,12
758835,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,Tuesday,12
758836,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1,Tuesday,12
758837,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,Tuesday,12
758838,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,Tuesday,12

In [82]:
df_2019 = bd_1[(bd_1['starttime'] >= '2019-01-01') & (bd_1['starttime'] < '2019-04-01')]
grouped_df = df_2019.groupby(['month', 'bikeid']).agg({'tripduration': 'sum'})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['month', 'bikeid', 'tripduration']
sorted_df = grouped_df.sort_values(['month','tripduration'], ascending=[True, False])
sorted_df

      month  bikeid  tripduration
313       1   29499        207243
170       1   29206        189415
48        1   26202         99523
428       1   29678         80981
321       1   29508         74623
...     ...     ...           ...
947       3   26197           767
904       3   22467           676
1053      3   26318           553
1056      3   29121           477
1236      3   29519           316

[1365 rows x 3 columns]

In [98]:
top_10 = sorted_df.groupby(['month']).apply(lambda x: x.nlargest(10, 'tripduration'))
top_10

            month  bikeid  tripduration
month
1     313       1   29499        207243
      170       1   29206        189415
      48        1   26202         99523
      428       1   29678         80981
      321       1   29508         74623
      121       1   26280         65820
      72        1   26227         63476
      216       1   29259         61399
      138       1   26300         58719
      10        1   26161         54575
2     786       2   29531        583507
      475       2   26197        550639
      623       2   29224        524114
      593       2   29125        245428
      684       2   29296        191577
      677       2   29289        176638
      567       2   26296        174501
      459       2   26181        138073
      760       2   29505        116939
      836       2   29598        103517
3     909       3   26157        284198
      1073      3   29207        281891
      1304      3   29605        203421
      1047      3   26309        193363
      1006      3   26264        168498
      961       3   26211        118487
      915       3   26163        108997
      1343      3   29660         98923
      980       3   26235         74542
      1122      3   29264         74364

In [120]:
# select subset of the original dataframe
df_2019 = bd_1[(bd_1['starttime'] >= '2019-01-01') & (bd_1['starttime'] < '2019-04-01')]

# group by month and bikeid and aggregate by summing tripduration
grouped_df = df_2019.groupby(['month', 'bikeid']).agg({'tripduration': 'sum'}).reset_index()

# add a new column for the rank of each value within its group
grouped_df['rank'] = grouped_df.groupby('month')['tripduration'].rank(method='dense', ascending=False)

# sort by month and rank
sorted_df = grouped_df.sort_values(['month', 'rank'])

# select the top 10 values for each month
top_10 = sorted_df[sorted_df['rank'] <= 10]

# print the top 10 values for each month
top_10

      month  bikeid  tripduration  rank
313       1   29499        207243   1.0
170       1   29206        189415   2.0
48        1   26202         99523   3.0
428       1   29678         80981   4.0
321       1   29508         74623   5.0
121       1   26280         65820   6.0
72        1   26227         63476   7.0
216       1   29259         61399   8.0
138       1   26300         58719   9.0
10        1   26161         54575  10.0
786       2   29531        583507   1.0
475       2   26197        550639   2.0
623       2   29224        524114   3.0
593       2   29125        245428   4.0
684       2   29296        191577   5.0
677       2   29289        176638   6.0
567       2   26296        174501   7.0
459       2   26181        138073   8.0
760       2   29505        116939   9.0
836       2   29598        103517  10.0
909       3   26157        284198   1.0
1073      3   29207        281891   2.0
1304      3   29605        203421   3.0
1047      3   26309        193363   4.0
1006      3   26264        168498   5.0
961       3   26211        118487   6.0
915       3   26163        108997   7.0
1343      3   29660         98923   8.0
980       3   26235         74542   9.0
1122      3   29264         74364  10.0

i. Get Station Name, latitude, longitude and number of bikes started from each station using startstationid* for each day for the first quarter of 2019

In [109]:
df_2019['date'] = df_2019['starttime'].dt.date
df_2019

<ipython-input-109-c0c6278f6076>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['date'] = df_2019['starttime'].dt.date

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week,month,date
353892,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,Tuesday,1,2019-01-01
353893,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,Tuesday,1,2019-01-01
353894,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,Tuesday,1,2019-01-01
353895,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,Tuesday,1,2019-01-01
353896,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,Tuesday,1,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415734,916,2019-03-29 13:38:36.175,2019-03-29 13:53:53.010,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,29277,Subscriber,1988,1,Friday,3,2019-03-29
415735,661,2019-03-29 15:29:18.751,2019-03-29 15:40:20.251,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2,Friday,3,2019-03-29
415736,577,2019-03-30 13:43:09.209,2019-03-30 13:52:46.714,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1,Saturday,3,2019-03-30
415737,585,2019-03-31 08:33:21.520,2019-03-31 08:43:06.752,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1,Sunday,3,2019-03-31
415738,914,2019-03-31 14:59:32.398,2019-03-31 15:14:46.848,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717732,-74.043845,29634,Subscriber,1993,2,Sunday,3,2019-03-31

In [112]:
grouped_df = df_2019.groupby(['date','start station name']).agg({'start station latitude': 'first',
    'start station longitude': 'first', 'start station id': 'count'})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['date','start station name', 'start station latitude', 'start station longitude', 'no_bikes_started']
sorted_df = grouped_df.sort_values(['date'], ascending = True)
sorted_df

,date,start station name,start station latitude,start station longitude,no_bikes_started
0,2019-01-01,5 Corners Library,40.734961,-74.059503,2
26,2019-01-01,Leonard Gordon Park,40.745910,-74.057271,2
27,2019-01-01,Liberty Light Rail,40.711242,-74.055701,20
28,2019-01-01,Lincoln Park,40.724605,-74.078406,6
29,2019-01-01,Manila & 1st,40.721651,-74.042884,22
...,...,...,...,...,...
4344,2019-03-31,Harborside,40.719252,-74.034234,25
4345,2019-03-31,Heights Elevator,40.748716,-74.040443,1
4346,2019-03-31,Hilltop,40.731169,-74.057574,3
4348,2019-03-31,Jackson Square,40.711130,-74.078900,2
4372,2019-03-31,York St,40.716490,-74.041050,4

j. What is the average age of riders by gender?

In [114]:
bd_1['user_age'] =  bd_1['starttime'].dt.year - bd_1['birth year']
bd_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day_of_week,month,user_age
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,Monday,1,26
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.443,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,Monday,1,49
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,Monday,1,72
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,Monday,1,24
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,Monday,1,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758834,283,2019-12-31 23:12:18.548,2019-12-31 23:17:01.874,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1,Tuesday,12,29
758835,267,2019-12-31 23:19:03.584,2019-12-31 23:23:30.664,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1,Tuesday,12,30
758836,379,2019-12-31 23:19:06.583,2019-12-31 23:25:25.797,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1,Tuesday,12,35
758837,188,2019-12-31 23:24:00.263,2019-12-31 23:27:09.040,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1,Tuesday,12,32
758838,326,2019-12-31 23:45:20.978,2019-12-31 23:50:47.749,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1,Tuesday,12,31

In [117]:
grouped_df = bd_1.groupby('gender').agg({
    'user_age': 'mean',
})
grouped_df = grouped_df.reset_index()
grouped_df.columns = ['gender', 'avg_user_age']
new_column = 'gender_string'
def gender_string(row):
    if row['gender'] == 1:
        return 'male'
    elif row['gender'] == 2:
        return 'female'
    else:
        return 'unknown'
grouped_df['gender_string'] = grouped_df.apply(lambda row: gender_string(row), axis=1)
grouped_df

   gender  avg_user_age gender_string
0       0     48.196704       unknown
1       1     37.256001          male
2       2     35.674190        female

# Using PySpark

In [130]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\rsara\anaconda3\lib\site-packages (3.3.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.5 in c:\users\rsara\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [19]:
import pyspark
from pyspark.sql import SparkSession

In [136]:
import tarfile

# Open the .tgz file in read mode
with tarfile.open("C:\\Users\\rsara\\Downloads\\spark-3.3.2-bin-hadoop3.tgz", "r:gz") as tar:

    # Extract a specific file to the current directory
    tar.extractall()

In [20]:
spark = SparkSession.builder.appName('runjhun').getOrCreate()

In [21]:
df = spark.read.csv(r"merged_file.csv", header=True, inferSchema=True)

In [22]:
df.show(5)

+------------+--------------------+--------------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|           starttime|            stoptime|start station id|start station name|start station latitude|start station longitude|end station id|end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+--------------------+--------------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+------+----------+----------+------+
|         932|2018-01-01 02:06:...|2018-01-01 02:21:...|            3183|    Exchange Place|            40.7162469|            -74.0334588|          3199|    Newport Pkwy|  40.728744799999994|   -74.03210820000001| 31929|Subscriber|      1992|     1|
|         550|2018-01-01 12:06:...|2018-01-01 12:15:...|            3183|    Exchange Place|            40.7162469|            -74.0334588|          3199|    Newport Pkwy|  40.728744799999994|   -74.03210820000001| 31845|Subscriber|      1969|     2|
|         510|2018-01-01 12:06:...|2018-01-01 12:15:...|            3183|    Exchange Place|            40.7162469|            -74.0334588|          3199|    Newport Pkwy|  40.728744799999994|   -74.03210820000001| 31708|Subscriber|      1946|     1|
|         354|2018-01-01 14:53:...|2018-01-01 14:59:...|            3183|    Exchange Place|            40.7162469|            -74.0334588|          3267|    Morris Canal|    40.7124188237569|   -74.03852552175522| 31697|Subscriber|      1994|     1|
|         250|2018-01-01 17:34:...|2018-01-01 17:38:...|            3183|    Exchange Place|            40.7162469|            -74.0334588|          3639|      Harborside|   40.71925170000001|           -74.034234| 31861|Subscriber|      1991|     1|
+------------+--------------------+--------------------+----------------+------------------+----------------------+-----------------------+--------------+----------------+--------------------+---------------------+------+----------+----------+------+
only showing top 5 rows

In [23]:
df.count()

758839

In [24]:
df.dtypes

[('tripduration', 'int'),
 ('starttime', 'timestamp'),
 ('stoptime', 'timestamp'),
 ('start station id', 'int'),
 ('start station name', 'string'),
 ('start station latitude', 'double'),
 ('start station longitude', 'double'),
 ('end station id', 'int'),
 ('end station name', 'string'),
 ('end station latitude', 'double'),
 ('end station longitude', 'double'),
 ('bikeid', 'int'),
 ('usertype', 'string'),
 ('birth year', 'int'),
 ('gender', 'int')]

a. which is the most popular station?

In [25]:
from pyspark.sql.functions import count
from pyspark.sql.functions import desc
from pyspark.sql.functions import col

# group the DataFrame by 'start station name' and count the number of occurrences of 'start station id'
grouped_df = df.groupBy('start station name').agg(count('start station id').alias('No_of_trips'))

# sort the DataFrame by 'No_of_trips' in descending order
grouped_df = grouped_df.sort(desc('No_of_trips'))

# select the first row from the DataFrame and extract the value of 'start station name'
most_pop_stn = grouped_df.select('start station name').first()[0]

print("Most popular station in 2018-2019 is {}".format(most_pop_stn))

Most popular station in 2018-2019 is Grove St PATH

b. What is the average distance that bikers ride?

In [47]:
from pyspark.sql.functions import radians, sin, cos, sqrt, asin, col

R = 6372.8 # Earth radius in kilometers

# calculate distance in kilometers
df = df.withColumn("lat1", radians(col("start station latitude"))) \
       .withColumn("lon1", radians(col("start station longitude"))) \
       .withColumn("lat2", radians(col("end station latitude"))) \
       .withColumn("lon2", radians(col("end station longitude")))

df = df.withColumn("d_lat", col("lat2") - col("lat1")) \
       .withColumn("d_lon", col("lon2") - col("lon1")) \
       .withColumn("a", sin(col("d_lat")/2)**2 + cos(col("lat1"))*cos(col("lat2"))*sin(col("d_lon")/2)**2) \
       .withColumn("c", 2*asin(sqrt(col("a")))) \
       .withColumn("distance_km", R*col("c"))

# calculate average distance
avg_distance = df.selectExpr("avg(distance_km)").collect()[0][0]
print(avg_distance, "km")

0.979554013842655 km

c. What is the average trip duration?

In [28]:
from pyspark.sql.functions import mean

avg_duration = df.select(mean('tripduration')).collect()[0][0]
print("The average trip duration of the bike rides in 2018-2019 is:", avg_duration, "sec")

The average trip duration of the bike rides in 2018-2019 is: 701.3822905781068 sec

d. How many riders start and end their trip at the same station?

In [30]:
from pyspark.sql.functions import col

result_df = df.filter(col('start station id') == col('end station id'))
how_many = result_df.count()
print("The number of riders in 2018-2019 who start and end their trip at the same station are:", how_many)

The number of riders in 2018-2019 who start and end their trip at the same station are: 31156

e. What is the distribution of Customers to Subscribers?

In [31]:
from pyspark.sql.functions import count

grouped_df = df.groupBy('usertype').agg(count('start station id').alias('No_of_trips'))
grouped_df = grouped_df.sort('No_of_trips', ascending=False)
grouped_df.show()

+----------+-----------+
|  usertype|No_of_trips|
+----------+-----------+
|Subscriber|     693646|
|  Customer|      65193|
+----------+-----------+

In [33]:
from pyspark.sql.functions import count

grouped_df = df.groupby('usertype').agg(count('start station id').alias('No_of_trips'))
grouped_df = grouped_df.sort('No_of_trips', ascending=False)

subscriber_count = grouped_df.filter(grouped_df['usertype']=='Subscriber').select('No_of_trips').collect()[0][0]
customer_count = grouped_df.filter(grouped_df['usertype']=='Customer').select('No_of_trips').collect()[0][0]

print("The subscribers using the bikes are {}, while the customers using the bikes are {}.".format(subscriber_count, customer_count))

The subscribers using the bikes are 693646, while the customers using the bikes are 65193.

f. What is the distribution of men and women?

In [45]:
from pyspark.sql.functions import when, col

# Define a column with gender string values
grouped_df = df.groupBy('gender').agg({'start station id': 'count'}) \
                .withColumn('gender_string', when(col('gender') == 1, 'male')
                                            .when(col('gender') == 2, 'female')
                                            .otherwise('unknown'))

# Rename columns
grouped_df = grouped_df.withColumnRenamed('count(start station id)', 'No_of_trips') \
                       .withColumnRenamed('gender', 'gender_id')

# Sort by number of trips in descending order
grouped_df = grouped_df.sort('No_of_trips', ascending=False)

# Show the result
grouped_df.show()

+---------+-----------+-------------+
|gender_id|No_of_trips|gender_string|
+---------+-----------+-------------+
|        1|     543537|         male|
|        2|     167484|       female|
|        0|      47818|      unknown|
+---------+-----------+-------------+

In [36]:
from pyspark.sql.functions import col

grouped_df = df.groupBy('gender').agg({'start station id': 'count'})
grouped_df = grouped_df.withColumnRenamed('count(start station id)', 'No_of_trips')
grouped_df = grouped_df.sort(col('No_of_trips').desc())
grouped_df.show()

+------+-----------+
|gender|No_of_trips|
+------+-----------+
|     1|     543537|
|     2|     167484|
|     0|      47818|
+------+-----------+

In [38]:
male = grouped_df.filter(grouped_df.gender == 1).collect()[0]['No_of_trips']
female = grouped_df.filter(grouped_df.gender == 2).collect()[0]['No_of_trips']

print("The males using the bikes are {}".format(male), "while the females using the bikes are {}.".format(female))

The males using the bikes are 543537 while the females using the bikes are 167484.

In [40]:
from pyspark.sql.functions import col

grouped_df = df.groupBy('gender').agg({'start station id': 'count'})
grouped_df = grouped_df.withColumnRenamed('count(start station id)', 'No_of_trips')
grouped_df = grouped_df.sort(col('No_of_trips').desc())
male = grouped_df.filter(grouped_df.gender == 1).collect()[0]['No_of_trips']
female = grouped_df.filter(grouped_df.gender == 2).collect()[0]['No_of_trips']

print("The males using the bikes are {}".format(male), "while the females using the bikes are {}.".format(female))
grouped_df.show()

The males using the bikes are 543537 while the females using the bikes are 167484.
+------+-----------+
|gender|No_of_trips|
+------+-----------+
|     1|     543537|
|     2|     167484|
|     0|      47818|
+------+-----------+

g. What days of the week are most rides taken on?

In [43]:
from pyspark.sql.functions import date_format

df = df.withColumn('day_of_week', date_format('starttime', 'EEEE'))

In [44]:
from pyspark.sql.functions import count

grouped_df = df.groupBy('day_of_week').agg(count('start station id').alias('No_of_trips')) \
    .sort('No_of_trips', ascending=False)
grouped_df.show()

+-----------+-----------+
|day_of_week|No_of_trips|
+-----------+-----------+
|    Tuesday|     122501|
|  Wednesday|     121996|
|   Thursday|     116837|
|     Friday|     116673|
|     Monday|     113861|
|   Saturday|      89399|
|     Sunday|      77572|
+-----------+-----------+

h. Get top 10 bikeid by duration for each month in the first quarter of 2019

In [48]:
df = df.withColumn('month', month('starttime'))

In [52]:
from pyspark.sql.functions import year, month, col

df_2019 = df.filter((year('starttime') == 2019) & (month('starttime') >= 1) & (month('starttime') <= 3))

grouped_df = df_2019.groupBy('month', 'bikeid').agg({'tripduration': 'sum'})\
    .withColumnRenamed('sum(tripduration)', 'tripduration')

sorted_df = grouped_df.orderBy('month', col('tripduration').desc())

from pyspark.sql.window import Window
from pyspark.sql.functions import rank

w = Window.partitionBy('month').orderBy(col('tripduration').desc())

top_10 = sorted_df.select('*', rank().over(w).alias('rank'))\
    .filter(col('rank') <= 10).drop('rank')
    
top_10.show(40)

+-----+------+------------+
|month|bikeid|tripduration|
+-----+------+------------+
|    1| 29499|      207243|
|    1| 29206|      189415|
|    1| 26202|       99523|
|    1| 29678|       80981|
|    1| 29508|       74623|
|    1| 26280|       65820|
|    1| 26227|       63476|
|    1| 29259|       61399|
|    1| 26300|       58719|
|    1| 26161|       54575|
|    2| 29531|      583507|
|    2| 26197|      550639|
|    2| 29224|      524114|
|    2| 29125|      245428|
|    2| 29296|      191577|
|    2| 29289|      176638|
|    2| 26296|      174501|
|    2| 26181|      138073|
|    2| 29505|      116939|
|    2| 29598|      103517|
|    3| 26157|      284198|
|    3| 29207|      281891|
|    3| 29605|      203421|
|    3| 26309|      193363|
|    3| 26264|      168498|
|    3| 26211|      118487|
|    3| 26163|      108997|
|    3| 29660|       98923|
|    3| 26235|       74542|
|    3| 29264|       74364|
+-----+------+------------+

i. Get Station Name, latitude, longitude and number of bikes started from each station using startstationid* for each day for the first quarter of 2019

In [53]:
from pyspark.sql.functions import to_date

df_2019 = df_2019.withColumn('date', to_date('starttime'))

In [54]:
from pyspark.sql.functions import first, count

grouped_df = df_2019.groupBy('date', 'start station name') \
    .agg(first('start station latitude').alias('start station latitude'),
         first('start station longitude').alias('start station longitude'),
         count('start station id').alias('no_bikes_started'))

sorted_df = grouped_df.sort('date', ascending=True)

In [55]:
sorted_df.show(5)

+----------+------------------+----------------------+-----------------------+----------------+
|      date|start station name|start station latitude|start station longitude|no_bikes_started|
+----------+------------------+----------------------+-----------------------+----------------+
|2019-01-01| JC Medical Center|     40.71653978099194|      -74.0496379137039|              11|
|2019-01-01|     Grove St PATH|     40.71958611647166|      -74.0431174635887|              36|
|2019-01-01|   Christ Hospital|          40.734785818|          -74.050443636|               1|
|2019-01-01|    Exchange Place|            40.7162469|            -74.0334588|              16|
|2019-01-01|            Dey St|             40.737711|             -74.066921|               2|
+----------+------------------+----------------------+-----------------------+----------------+
only showing top 5 rows

j. What is the average age of riders by gender

In [56]:
from pyspark.sql.functions import year

# calculate user_age based on birth year and starttime year
df = df.withColumn("user_age", year("starttime") - df["birth year"])

In [58]:

grouped_df = df.groupBy('gender').agg({'user_age': 'mean'})

grouped_df = grouped_df.withColumnRenamed('avg(user_age)', 'avg_user_age')
grouped_df = grouped_df.withColumn('gender_string', when(col('gender') == 1, 'male').when(col('gender') == 2, 'female').otherwise('unknown'))

grouped_df = grouped_df.select('gender_string', 'avg_user_age').orderBy('gender_string')
grouped_df.show()

+-------------+------------------+
|gender_string|      avg_user_age|
+-------------+------------------+
|       female|35.674189773351486|
|         male| 37.25600097141501|
|      unknown|48.196704169977835|
+-------------+------------------+